body {
  font-family: 'Baloo Thambi 2', cursive;
  margin: 0;
}

h1 {
  font-size: 300%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url('https://picsum.photos/1600/1050');
  background-size: cover;
  background-position: center;
}

.weather-info {
  padding: 5%;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(245,245,245,0.9) 100%);
  box-shadow: 0px 0px 10px 3px rgba(36,36,36,.05);
  transition-duration: .5s;
  transition-property: opacity;
}
.weather-info__search-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

.warningText{
  display: none;
  color: red;
  font-weight: bold;
}

.weather-info__search-view label {
  font-size: 200%;
}

.weather-info__search-view input {
  padding: 10px 50px;
  border: 2px solid black;
  font-size: 150%;
  text-align: center;
}

.weather-info__search-view button {
  padding: 10px 50px;
  border: 2px solid black;
  font-size: 100%;
}

.weather-info__forecast-view {
  display: none;
}

.weatherCity{
  margin-right: 5%;
}

.weather-info__city {
  display: flex;
  align-items: center;
}

.weather-info__city img {
  width: fit-content;
  margin-left: 5%;
}

.weather-info__btn-return {
  padding: 5px 25px;
  border: 2px solid black;
}

.weather-info__longterm{
  display: flex;
  justify-content: space-between;
}

.weather-info__longterm div{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border: 1px transparent solid;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgb(36 36 36 / 5%);
  transition-duration: 1.5s;
}

.weather-info__longterm div:hover{
  transform: translate(15px, 15px) scale(1.5);
  background-color: white;
}

.weather-info__longterm img{
  width: 75px;
  height: 75px;
}

.weather-info__longterm p{
  font-size: 12px;
}